<h1>Blog</h1>
<div class="container">
    <% @blogs.each do |blog| %>
      <%= blog.title %>
      <%= image_tag blog.image.url(:medium) %>
      <br>
      <p>Author: </p><%= blog.author %>
      <p>Written: </p><%= blog.updated_at %>
      <%= raw blog.content %>
      <div class="row">
        <div class="col">
          <%= button_to "Edit Content", edit_blog_path(blog), {class: 'btn btn-success', method: "get"} %>
        </div>
        <div class="col">
          <div class="text-right">
            <%= link_to "Delete Content", blog_path(blog), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
  <br>
  <br>
  <%= button_to "New Content", new_blog_path, {class: 'btn btn-success', method: "get"} %>
</div>
