<head>
    <%= stylesheet_link_tag "blogs" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<div class="col-sm-11 col-xs-12 blog-content">
    <h2><%= @blog.title %></h2>
    <hr>
    <p>
    <span class="fa fa-clock-o red-icon"></span>
    Posted
    <%= @blog.created_at.strftime('%b %d, %Y') %>
    <span class="fa fa-pencil red-icon"></span>
    By
    <%= @blog.author %></p>
<hr>
<div><%= raw @blog.content %></div>

<div class="row">
    <div class="col">
        <%= button_to "Edit Post", edit_blog_path(@blog), {class: 'btn btn-success', method: "get"} %>
    </div>
    <div class="col">
        <div class="text-right">
            <%= link_to "Delete Post", blog_path(@blog), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
        </div>
    </div>
</div>

<hr>
<h3><script id="dsq-count-scr" src="//kspc-1.disqus.com/count.js" async></script>
    Comments</h2>
<%= render 'disqus' %>
</div>
