<%- if admin_signed_in? %>
  <h1>Admin logged in</h1>
  <%= button_to "New Archive", new_archive_path, {class: 'btn btn-success', method: "get"} %>
<% else %>
  <%= form_for(:admin, :url => session_path(:admin)) do |f| %>
    Email: <%= f.text_field :email %><br>
    Password: <%= f.password_field :password %><br>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path(:admin) %>
  <% end %>
<% end %>