<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/modern-business.css" rel="stylesheet">

        <!-- Our own CSS -->
        <%= stylesheet_link_tag "mains/index" %>

        <!-- Font Awesome Style Sheet -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">

        <style>
            /* Ugly hacks to fix the container within navbar functionality - should be fixed in Bootstrap 4 beta */

            .navbar-toggler {
                z-index: 1;
            }
            @media (max-width: 576px) {
                nav > .container {
                    width: 100%;
                }
            }
            /* Temporary fix for img-fluid sizing within the carousel */

            .carousel-item-next,
            .carousel-item-prev,
            .carousel-item.active {
                display: block;
            }

        </style>
    </head>

    <body>
        <header>
            <div class="break">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <!-- Slide One - Set the background image for this slide in the line below -->
                        <div class="carousel-item active" style="background-image: url(https://cloud.githubusercontent.com/assets/5604374/25202737/41d6d468-250b-11e7-8faf-9d3ba3db022d.jpg)">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="row">
                                    <h1>Listen Live!</h1>
                                    <br>
                                    <p>
                                        <a href="http://kspc.org/?page_id=836">Help</a>
                                    </p>
                                    <div class="col">
                                        <h3>
                                            <a href="http://37.187.79.93:8419/stream192">192k</a>
                                        </h3>
                                        <h3>
                                            <a href="http://nebula.shoutca.st:8160/stream/3/">128k</a>
                                        </h3>
                                    </div>
                                    <div class="col">
                                        <h1>
                                            <a href="http://spinitron.com/radio/index.php?station=kspc&playlist=current/">Last Played</a>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </header>

        <!-- Page Content -->

        <!-- Recent Blog Section -->
        <br>
        <h2>Recent Blogs</h2>
        <hr>

        <div class="row">
            <% @blog.each do |blog| %>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">

                    <%= link_to image_tag(blog.image.url(:medium), :class=>"card-img-top img-fluid"), blog_path(blog) %>

                    <div class="card-block">
                        <h4 class="card-title">
                            <a href="#"><%= blog.title %></a>
                        </h4>
                        <p class="card-text">
                            <br>
                            <p>by
                                <%= blog.author %></p>
                            <dateComment>Date Posted:
                                <%= blog.created_at.strftime('%b %d, %Y') %></dateComment>
                            <p><%= raw blog.content.truncate(358) %></p>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>

        <hr>

        <!-- Features Section -->
        <div class="row">
            <div class="col">
                <h3>Subscribe</h3>
                <hr>
                <br>
                <p>SIGN UP FOR THE "SPACED OUT" EMAIL NEWSLETTER</p>
                <br>
                <p>Upcoming giveaways, concerts, events and charts delivered to your inbox!</p>
                <%= render "subscribers/form", subscriber: @subscriber %>
            </div>
            <div class="col">
                <h3>Recent spins on KSPC</h3>
                <hr>
                <div data-station="kspc" data-num="3" data-time="1" data-nolinks="1" id="spinitron-nowplaying"></div>
                <script src="//spinitron.com/js/npwidget.js"></script>
            </div>
            <div class="col">
                <a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#E81C4F" href="https://twitter.com/kspc">Recent Tweets</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>

        <!-- jQuery Version 3.1.1 -->
        <script src="js/jquery.js"></script>

        <!-- Tether -->
        <script src="js/tether.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Script to Activate the Carousel -->
        <script>
            $('.carousel').carousel()
        </script>
    </body>
</html>
