<%= stylesheet_link_tag "archives/new" %>
<%= stylesheet_link_tag "archives/index" %>
<h1>Archives</h1>
<br>
<div class="row">
  <% @archives.each_with_index do |archive, i| %>
    <div class="archive card text-center">
      <div class="thumbnails">
          <%- if archive.media.content_type.start_with?("image") %>
            <%= link_to image_tag(archive.media.url), archive.media.url,
                data: {
                  toggle: "lightbox",
                  title: archive.title,
                  footer: archive.description,
                }
            %>
          <% else %>
            <%= videojs_rails sources: {mp4: archive.media.url, type:'audio/mp3'}, class: "video-js vjs-default-skin", setup: "{}", poster: "/defaultImage.png", width:"250" ,height:"250"%>
          <% end %>
      </div>
      <div class="card-block">
        <h5 class="archive-title"><%= archive.title %></h5>
        <div><%= archive.date %></div>
        <div class="tag-box">
          <% archive.tag_list.each do |tag| %>
            <span class="tag"><%= tag %></span>
          <% end %>  
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- Render page links -->
<%= will_paginate @posts %>

<br>