<h1>Archives</h1>
<br>
<div class="row">
  <% @archives.each do |archive| %>
    <div class="archive card text-center">
      <div class="thumbnails">
          <%- if archive.media.content_type.start_with?("image") %>
            <%= image_tag archive.media.url %>
          <% else %>
            <%= videojs_rails sources: {mp4: archive.media.url, type:'audio/mp3'}, class: "video-js vjs-default-skin", setup: "{}", poster: "/defaultImage.png", width:"250" ,height:"250"%>
          <% end %>
      </div>
      <div class="card-block">
        <h5 class="archive-title"><%= archive.title %></h5>
        <div><%= archive.description %></div>
        <div><%= archive.date %></div>
        <div><%= archive.tag_list %></div>
      </div>
    </div>
  <% end %>
</div>
<!-- Render page links -->
<%= will_paginate @posts %>

<br>
<%= button_to "New Archive", new_archive_path, {class: 'btn btn-success', method: "get"} %>