<%# stylesheet_link_tag "bootstrap-tagsinput" %>
<%- if !admin_signed_in? %>
    <script type="text/javascript">
    window.location.href="/archives"
  </script>
<% else %>
<h2>New Archive</h2>
<hr>

<%= form_for @archive, html: { multipart: true } do |f| %>
  <%= f.label :media %>
  <%= f.file_field :media, {required: true} %>
  <br>
  <%= f.label :title %>
  <%= f.text_field :title, {required: true} %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description, {required: true} %>
  <br>
  <%= f.label :date %>
  <%= f.date_field :date, {required: true} %>
  <br>
  <%= f.label :tag_list %>
  <%= f.text_field :tag_list, {'data-role' => 'tagsinput', 'value' => ''} %>
  <br>
  <div id="taglist"></div>
  <%= f.submit 'Submit', {class: 'btn btn-success'} %>
<% end %>
<% end %>