<!DOCTYPE html>
<html>
  <head>
    <title>Radio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body style="padding-top: 0px;">
  <!-- Navigation -->
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" style="margin-bottom: 2em;">
    <%= link_to "KSPC", root_url, class: "navbar-brand"%>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="<%= 'active' if current_page?(root_path) %>">
          <%= link_to "Home", root_path, class: "nav-item nav-link" %>
        </li>
        <li>
          <%= link_to "Store", 'http://coopstore.pomona.edu/collections/kspc', class: "nav-item nav-link" %>
        </li>
        <li class="<%= 'active' if current_page?(mains_about_path) %>">
          <%= link_to "About", mains_about_path, class: "nav-item nav-link" %>
        </li>
        <li class="<%= 'active' if current_page?(blogs_blog_path) %>">
          <%= link_to "Blog", blogs_blog_path, class: "nav-item nav-link" %>
        </li>
        <li class="<%= 'active' if current_page?(archives_path) %>">
          <%= link_to "Archives", archives_path, class: "nav-item nav-link" %>
        </li>
        <li class="<%= 'active' if current_page?(mains_expo_path) %>">
          <%= link_to "EXPO", mains_expo_path, class: "nav-item nav-link" %>
        </li>
        <li class="<%= 'active' if current_page?(mains_media_path) %>">
          <%= link_to "Media", mains_media_path, class: "nav-item nav-link" %>
        </li>
        <li class="<%= 'active' if current_page?(contacts_contact_path) %>">
          <%= link_to "Contact", contacts_new_path, class: "nav-item nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container white">
      <%= yield %>
      <hr>

      <!-- Footer -->
<!-- <<<<<<< HEAD -->
      <div class = "row">
        <div class = "col-4">
<!-- =======
    <div class="container">
      <div class="row align-items-start">
        <div class="col"
>>>>>>> div footer -->
          <titlePage>MULTIMEDIA</titlePage>
          <p> </p>
          <%= link_to "Interview", 'http://kspc.org/multimedia/audio/interviews/', {:style=>'color: lightblue;', :class => "css_class"} %>
        </div>
<!-- <<<<<<< HEAD -->
        <div class = "col-4">
<!-- =======
        <div class="col"
>>>>>>> div footer -->
        <titlePage>GET INVOLVED!</titlePage>
        <p> </p>
          <%= link_to "Volunteer", 'http://kspc.org/multimedia/audio/interviews/', {:style=>'color: lightblue;', :class => "css_class"} %>
        </div>
<!-- <<<<<<< HEAD -->
        <div class = "col-4">
<!-- =======
        <div class="col"
>>>>>>> div footer -->
          <p> THE CLAREMONT COLLEGES </p>
          <p> </p>
          <a class="thumbnail" href="www.hmc.edu">
                    <img class="img-responsive" src="http://kspc.org/blog/wp-content/themes/kspc2/images/hmclogo.png" alt="">
            </a>
        </div>
      </div>
    </div>

      <footer>
          <div class="row">
              <div class="col-lg-12">
                <p>Copyright &copy; KSPC 2017</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-12">
                  <p>KSPC is located @ Thatcher Music Building, 340 N. College Ave., Claremont, CA 91711</p>
              </div>
          </div>
      </footer>

  </div>
</body>
<!-- /.container -->
<style>body{padding-top: 70px;}</style>
</html>
